body {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      margin-top: 200px;
      background-color: red;
    }

h1 {
      font-size: 60px;
      margin-bottom: 20px;
    }

button {
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 6px;
    }
